
.book-container {
  display: flex;
  flex-direction: column; /* Arrange children vertically */
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  padding-left: 10%;
  padding-right: 10%;
  background-color: rgb(243, 243, 244);
  min-height: 100vh; /* Full height of the viewport */
}

.loader {
  border: 16px solid white; /* Light gray background */
  border-radius: 50%; /* Make it circular */
  border-top: 16px solid #3498db; /* Blue color for the top */
  width: 100px; /* Width of the loader */
  height: 100px; /* Height of the loader */
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite; /* Animation */
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  font-size: 24px;
  color: #555;
  text-align: center;
  margin: 50px auto;
  max-width: 1200px;
  display: flex; /* Use flexbox for alignment */
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
}

.loading span {
  margin-left: 10px; /* Space between loader and text */
}

/* Other styles remain unchanged */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.book-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Default to 4 columns */
  gap: 20px;
  padding-top: 20px;
}

/* For tablets or medium-sized devices (2 columns) */
@media (max-width: 1024px) {
  .book-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* For mobile devices (1 column) */
@media (max-width: 768px) {
  .book-list {
    grid-template-columns: repeat(1, 1fr);
  }
}


.book {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  padding: 10px;
  background-color: #fff;
  transition: transform 0.2s;
}

.book:hover {
  transform: scale(1.05);
}

.wishlist-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 1.5em;
}

.book {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  position: relative;
}

.book img {
  width: 100px;
  height: 150px;
  object-fit: cover;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding-bottom: 20px;
}

button {
  margin: 0 10px;
  padding: 5px 10px;
  cursor: pointer;
}

.hidden {
  display: none;
}
