/* Centering the Book Details Section */
.details-container {
  display: flex; /* Use flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  min-height: 50vh;
  margin-top: 50px; /* Add margin top */
  margin-bottom: 50px; /* Add margin bottom */
  
}

/* Book Details Styles */
.book-details {
  background-color: white;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  align-items: center; /* Align items vertically centered */
  width: 30%; /* Set width to 30% */
  min-height: 50vh; /* Set height to 100vh */
  margin: 0; /* Remove margin for centering */
  text-align: left;
}


/* Cover Image Styles */
.book-cover {
  flex: 0 0 auto; /* Prevent the cover from stretching */
  margin-right: 20px; /* Space between image and text */
}

.book-cover img {
  width: 100%;
  max-width: 200px; /* Limit the image size */
  border-radius: 10px;
}

.book-info {
  text-align: left; /* Align text to the left */
}

.book-info h1 {
  font-size: 20px;
  font-weight: bold; /* Make the header bold */
}

.pricing .original-price {
  text-decoration: line-through;
  color: #777;
}

.discounted-price {
  font-size: 20px;
  color: #d9534f;
}

.stock-status {
  color: green;
  font-weight: bold;
}

.action-buttons button {
  padding: 10px 20px;
  margin: 5px 0;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: white;
  width: 100%; /* Full width buttons */
}

.read-now-btn {
  background-color: #5bc0de;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
}

.read-now-btn a {
  color: white;
  text-decoration: none;
}

.read-now-btn:hover {
  background-color: #2980b9;
}

/* Responsive Grid Layout */
@media (min-width: 601px) {
  .books-container {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for mid-sized devices */
    height: 100vh;
  }
}

@media (min-width: 901px) {
  .books-container {
    grid-template-columns: repeat(4, 1fr); /* 4 columns for larger devices */
  }
}

/* Loader */
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  font-size: 24px;
  color: #555;
  text-align: center;
  margin: 50px auto;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading span {
  margin-left: 10px;
}

/* Mobile Styles */
@media (max-width: 600px) {
  .book-details {
    flex-direction: column; /* Stack items vertically on mobile */
    padding: 10px;
    margin: 0 auto;
    width: 100%; /* Use full width on mobile */
    height: auto; /* Adjust height for mobile */
  }

  .book-cover {
    margin-right: 0; /* Remove right margin on mobile */
  }

  .book-cover img {
    width: 100%;
    max-width: 300px; /* Adjust max width for mobile */
    margin-bottom: 20px;
  }

  .book-info {
    text-align: left; /* Center align on mobile */
  }

  .action-buttons button {
    width: 100%;
  }
}
