body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  position: sticky;
  top: 0;
  background-color: rgb(240, 238, 238);
  z-index: 1000;
  width: 100%;
  margin: 0; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto; 
  padding: 0 16px;
  width: 100%;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 100px;
  height: auto;
}

.search-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
}

.search-category {
  padding: 8px;
  border-radius: 20px 0 0 20px;
  border: 1px solid #ddd;
  font-size: 16px;
  font-weight: 600;
}

.search-input {
  padding: 8px 10px;
  border: 1px solid #ddd;
  border-left: none;
  width: 300px;
  max-width: 100%;
  font-size: 16px;
  outline: none;
  flex-shrink: 1;
}

.search-icon {
  padding: 8px;
  border: 1px solid #ddd;
  border-left: none;
  border-radius: 0 20px 20px 0;
  font-size: 18px;
  cursor: pointer;
}

.navbar-icons {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 12px;
}

.icon-wrapper {
  display: flex;
  align-items: center;
}

.icon-wrapper .material-icons {
  font-size: 24px;
  margin-right: 5px;
  cursor: pointer;
}

.icon-wrapper a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
}

.large-icon {
  font-size: 48px;
  color: #333;
}

.navbar-strike {
  border: none;
  height: 3px;
  background-color: #ddd;
  margin: 0;
}

.favorite-icon {
  transition: color 0.3s ease;
  color: #333;
}

.icon-wrapper:hover .favorite-icon:hover {
  color: red;
}

@media (max-width: 768px) {
  .navbar-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .search-container {
    width: 100%;
    margin: 10px 0;
  }

  .search-input {
    width: calc(100% - 50px);
    max-width: 100%;
  }

  .navbar-icons {
    justify-content: center;
    width: 100%;
  }

  .icon-wrapper {
    margin-right: 0;
  }
}

@media (max-width: 480px) {
  .logo {
    width: 80px;
  }

  .search-category {
    font-size: 14px;
    padding: 7px;
  }

  .search-input {
    padding: 6px;
    width: 50%;
  }
  
  .search-icon {
    padding: 8px;
    font-size: 14px;
  }

  .icon-wrapper .material-icons {
    font-size: 20px;
  }

  .icon-wrapper a {
    font-size: 14px;
  }
}
